p{
    color: blue ;
}
.far{
    color: rgb(19, 223, 53);
}
body{
    background-image: url(/img/3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 50%;
}
